<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
<script type= "text/javascript" src="/node_modules/angular/angular.js"></script>
<link rel="stylesheet" type="text/css" href="skeleton.css" / >
<link rel="stylesheet" type="text/css" href="normalize.css" / >
<link rel="stylesheet" type="text/css" href="custom.css" / >
<script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="pages/home/home.js"></script>
<script type="text/javascript" src="pages/ffworld/ffworld.js"></script>
<script type="text/javascript" src="pages/login/login.js"></script>
<script type="text/javascript" src="pages/contactus/contactus.js"></script>
<script type="text/javascript" src="template/header/header.js"></script>
<script type="text/javascript" src="template/footer/footer.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>


<body ng-app="app">
	<header ng-include="'template/header/header.html'"></header>
	<ui-view></ui-view>
	<footer ng-include="'template/footer/footer.html'"></footer>
</body>
