<div ng-controller="loginCtrl">

    <div class="row">
      <div class="two columns">&nbsp;</div>

      <div class="eight columns">
      <div class="login-form-field">
          <h5>Login</h5>
          <div>
            <form>
                  <label for="userid">Registered email-id or mobile number</label>
                  <input class="u-full-width" type="text" id="userid">

                  <label for="password">Password</label>
                  <input class="u-full-width" type="password" id="password">
                  <button type="submit" class="button-primary">Login</button>
            </form>
          </div>
            <div>
              <h6 style="text-align:center;padding-top: 6%;">Or</h6>
            </div>
            <div class="social-buttons" style="text-align:center">
                <button class="facebook-button">Login with Facebook</button>

                <button class="gmail-button">Login with Gmail</button>
            </div>
            <div style="text-align:center;padding-top:1%;">
              Do not have an account? Send a mail to <b>onboard@ffworld.com</b> to connect with our support team.
            </div>
    </div>
  </div>

    <div class="two columns">&nbsp;</div>

    </div>
</div>
