<div ng-controller="headerCtrl">
  <div class="topnav" id="myTopnav">
    <a href="#" style="text-decoration:none">Logo</a>
    <a ui-sref="home" ng-class="{'active': page === 'home'}" onclick="myFunction()" ng-click="changepage('home')">Home</a>
    <a ui-sref="ffworld" ng-class="{'active': page === 'ffworld'}" onclick="myFunction()" ng-click="changepage('ffworld')">FF World</a>
    <a ui-sref="login" ng-class="{'active': page === 'login'}" onclick="myFunction()" ng-click="changepage('login')">Login</a>
    <a ui-sref="contactus" ng-class="{'active': page === 'contact'}" onclick="myFunction()" ng-click="changepage('contact')">Contact Us</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
</div>

<script type="text/JavaScript">
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
