<div ng-controller="footerCtrl">
  <div class="footer-container">
    <div class="row" style="padding-bottom:1%;">

      <div class="one-third column" style="padding-left:5%;padding-bottom:2%;">
          <h5>Sitemap</h5>
          <div class="footer-section-content">
            <p>Home</p>
            <p>FF World</p>
            <p>About Us</p>
            <p>Contact Us</p>
          </div>
      </div>



      <div class="one-third column" style="padding-left:5%;padding-bottom:2%;">
          <h5>Office details</h5>
      </div>

      <div class="one-third column" style="padding-left:5%;padding-right:5%;padding-bottom:2%;">
          <h5>Subscribe to our newsletter</h5>
            <form>
              <div class="row">
                <div class="twelve columns">
                  <label for="exampleEmailInput">Your email. We won't spam your mailbox.</label>
                  <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                  <button class="button-primary">Subscribe</button>
                </div>
              </div>
            </form>
            <div style="text-align:center">You can also connect with us via
              <div>
                <img style="height:4%;" src="images/social-icons.png"/>
              </div>
            </div>
      </div>


    </div>
  </div>





  <div class="copyright-footer-end">
    FF World &copy; 2018
  </div>
</div>
