<div  class="promo" style="background-color:#00af66;color:white;text-align: center;padding-bottom:10%;padding-top:10%;">

  <div>
    <h3>FF World</h3>
    <h5>Blah blah blah and blah and blah.<br>
    Bahut khela content rakhibaku padiba eithi<br>
    All the BEST!</h5>
  </div>
</div>

<div style="text-align:center;">
  <h3>Vision</h3>
</div>

<div style="text-align:center;">
  <h3>Mission</h3>
</div>

<div style="text-align:center;">
  <h3>About US</h3>
</div>
