<div ng-controller="ffworldCtrl">
  <div class="row" style="padding-bottom:1%;">
      <div class="three columns">
        <div id="seller" class="menubox">
          <div class="menubox-content">
            <img class="menubox-image" src="images/seller-green.svg">
            <h4 class="menubox-heading">Seller</h4>
            <p class="menubox-description">
              This content is for seller. Need more content here. Else of no use. 2 lines should be sufficient.
            </p>
            <button class="menubox-button">Login as seller</button>
          </div>
        </div>
      </div>



      <div class="three columns">
        <div id="buyer" class="menubox">
          <div class="menubox-content">
            <img class="menubox-image" src="images/buyer-green.svg">
            <h4 class="menubox-heading">Buyer</h4>
            <p class="menubox-description">
              This content is for buyer. Need more content here. Else of no use. 2 lines should be sufficient.
            </p>
            <button class="menubox-button">Login as buyer</button>
          </div>
          </div>
        </div>

      <div class="three columns">
        <div id="transporter" class="menubox">
          <div class="menubox-content">
            <img class="menubox-image" src="images/shipped-green.svg">
            <h4 class="menubox-heading">Transporter</h4>
            <p class="menubox-description">
              This content is for transporter. Need more content here. Else of no use. 2 lines should be sufficient.
            </p>
            <button class="menubox-button">Login as transporter</button>
          </div>
          </div>
        </div>

      <div class="three columns">
        <div id="agri-services" class="menubox">
          <div class="menubox-content">
            <img class="menubox-image" src="images/grain-green.svg">
            <h4 class="menubox-heading">Agri-services</h4>
            <p class="menubox-description">
              This content is for agri-services. Need more content here. Else of no use. 2 lines should be sufficient.
            </p>
            <button class="menubox-button">Login as agri-service</button>
          </div>
          </div>
        </div>
  </div>
</div>
